.compotition{

}

.compotition-action-wrapper{
    display: flex;
    justify-content: space-between;
}

.compotition-filter-action{
    display: flex;
}

.compotition-filter-select{
    margin: 20px 0;
}

.compotition-action-item{
    margin: 20px;
}