.header{
    grid-area: header;
    background: #F7F9FC;
    display: flex;

    justify-content: space-between;
}

.header-title-wrapper{
    display: flex;
    align-items: center;
}

.header-title{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    padding: 12px 20px;

    /* Gray/900 */
    color: #222834;
}

.header-count{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    gap: 10px;

    width: 27px;
    height: 22px;

    /* Indigo/0 */
    background: #EDEDFC;
    border-radius: 13px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.header-actions{
    display: flex;
    justify-content: center;
}

.header-actions-icon{
    padding: 16px;
}