body {
  margin: 0;
  font-family: 'Inter', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url(static/fonts/Inter-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 900;
  src: local('Inter'), url(static/fonts/Inter-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: local('Inter'), url(static/fonts/Inter-Black.ttf) format('truetype');
}

label.input-label{
  letter-spacing: 0.02em;
  /* Gray/700 */
  color: #464F60;
  font-family: 'Inter', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}

input{
  /* White */
  background: #FFFFFF;
  border: none;
  transition: all 0.3s ease-in-out;

  /* input/default */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(134, 143, 160, 0.16);
  border-radius: 6px;
}

input[type=checkbox]{
  width: 16px;
  height: 16px;
}

input[type=text], input[type=password]{
  background: #FFFFFF;

  height: 32px;

  /* input/default */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 0px 0px 1px rgba(134, 143, 160, 0.16);
  border-radius: 6px;
}

input:hover{
  /* White */
  background: #FFFFFF;

  /* input/hover */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(134, 143, 160, 0.4);
  border-radius: 6px;
}

input:focus{
  /* White */
  background: #FFFFFF;

  /* input/focus */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(134, 143, 160, 0.32), 0 0 0 4px rgba(94, 90, 219, 0.4);
  border-radius: 6px;
}

input:disabled{
  /* Gray/0 */
  background: #F7F9FC;

  /* input/disabled */
  box-shadow: 0 0 0 1px rgba(134, 143, 160, 0.24);
  border-radius: 6px;
}

button, select{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  transition: all 0.3s ease-in-out;
  height: 32px;
}

.primary-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;

  font-family: 'Inter', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */
  letter-spacing: 0.02em;

  /* White */
  color: #FFFFFF;

  /* Indigo/500 */
  background: #5E5ADB;

  /* pr-button/default */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px #5E5ADB;
  border-radius: 6px;
}

.primary-btn:hover{
  /* Indigo/600 */
  background: #4945C4;

  /* pr-button/hover */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px #4945C4;
  border-radius: 6px;
}

.primary-btn:focus{
  /* Indigo/500 */
  background: #5E5ADB;

  /* pr-button/focus */
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 0 1px #5E5ADB, 0 0 0 4px rgba(94, 90, 219, 0.4);
  border-radius: 6px;
}

.primary-btn:disabled{

  /* Indigo/300 */
  background: #9E9BF5;

  /* Indigo/0 */
  color: #EDEDFC;

  /* pr-button/inactive */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px #9E9BF5;
  border-radius: 6px;
}

.secondary-btn, select{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;

  font-family: 'Inter', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */
  letter-spacing: 0.02em;

  /* Gray/700 */
  color: #464F60;

  /* White */
  background: #FFFFFF;

  /* sd-button/default */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16);
  border-radius: 6px;
}

.secondary-btn:hover, select:hover{
  /* White */
  background: #FFFFFF;

  color: #171C26;

  /* sd-button/hover */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.32);
  border-radius: 6px;
}

.secondary-btn:focus, select:focus{
  /* White */
  background: #FFFFFF;

  color: #464F60;

  /* sd-button/focus */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.32), 0px 0px 0px 4px rgba(94, 90, 219, 0.4);
  border-radius: 6px;
}

.secondary-btn:disabled, select:disabled{
  /* Gray/0 */
  background: #F7F9FC;

  color: #868FA0;

  /* sd-button/inactive */
  box-shadow: 0px 0px 0px 1px rgba(70, 79, 96, 0.2);
  border-radius: 6px;
}

.dt-btn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;

  font-family: 'Inter', monospace;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */
  letter-spacing: 0.02em;

  /* White */
  color: #FFFFFF;

  /* Red/500 */
  background: #D1293D;

  /* dt-button/default */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px #D1293D;
  border-radius: 6px;
}

.dt-btn:hover{
  /* Red/600 */
  background: #BA1B2E;

  /* dt-button/hover */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px #BA1B2E;
  border-radius: 6px;
}

.dt-btn:focus{
  /* Red/500 */
  background: #D1293D;

  /* dt-button/focus */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px #D1293D, 0px 0px 0px 4px rgba(94, 90, 219, 0.4);
  border-radius: 6px;
}

.dt-btn:disabled{
  /* Red/300 */
  background: #F76F7F;

  color: #FCC5CB;

  /* dt-button/inactive */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px #F76F7F;
  border-radius: 6px;
}

select{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;

  /* White */
  background: #FFFFFF;

  /* sd-button/default */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px rgba(70, 79, 96, 0.16);
  border-radius: 6px;
}
